@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

a {
    color: #fff !important;
}

.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;

}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;

}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;


}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
    /* padding: 0.5rem 1rem; */
    padding: 0.2rem 0.5rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}

.gpt3__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.hambugger-menu{
    position: absolute;
    top: 30px;
    right: 20px;
    width: 210px;
    background: var(--color-footer);
    padding: 10px;
    border-radius: 10px;

}
.gpt3__navbar-menu {
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-bg);

    padding: 3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;

}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}


@media screen and (max-width:1100px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
        padding: 0.3rem;
        top: 30px;
        right: 0.8rem;
    }
    
    .gpt3__navbar {
        line-height: 2rem;
    }


}

@media screen and (max-width:550px) {
    .gpt3__navbar-menu {
        padding: 0.3rem;
        top: 20px;
        right: 1rem;
    }
    .hambugger-menu{
        position: unset;
        
    }

    .gpt3__navbar {
        padding: 1.5rem;
        line-height: 2rem;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }
    .gpt3__navbar-menu_container-links{
        background: var(--color-footer);
        padding: 10px;

    }
    .gpt3__navbar-menu_container-links-sign p{
        padding: 10px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
        color: #fff;
        border-radius: 10px;

    }

    .gpt3__navbar-menu_container-links-sign button {
        background-color: #FF4820;
        border: none;
        color: #fff;
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }


}